<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:swid="http://schemas.microsoft.com/wix/TagExtension">
    <Product Id="*" Name="!(loc.ShortProduct) v$(var.WixMajorMinor) Native $(var.VisualStudioTargetVersion) SDK" Language="1033" Manufacturer="!(loc.Company)"
             Version="$(var.WixMsiProductVersion)" UpgradeCode="C1450CC3-3F3F-481E-AC13-E09FAF44FA54">
        <Package Compressed="yes" InstallerVersion="200" SummaryCodepage="1252" InstallScope="perMachine" />
        <swid:Tag Regid="!(loc.Regid)" InstallDirectory="INSTALLFOLDER" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." />

        <MediaTemplate CabinetTemplate="n$(var.VisualStudioTargetVersion){0}.cab" />

        <Feature Id="NativeSdkFeature" Title="Native $(var.VisualStudioTargetVersion) SDK" Level="1">
            <ComponentGroupRef Id="HeaderComponents" />
            <ComponentGroupRef Id="LibComponents" />
        </Feature>
    </Product>

    <Fragment>
        <DirectoryRef Id="SdkFolder">
            <Directory Id="VisualStudioTargetSdkFolder" Name="VS$(var.VisualStudioTargetVersion)">
                <Directory Id="SdkIncFolder" Name="inc" />
                <Directory Id="SdkLibFolder" Name="lib">
                    <Directory Id="SdkX86LibFolder" Name="x86" />
                    <Directory Id="SdkX64LibFolder" Name="x64" />
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>

</Wix>
