<?xml version='1.0'?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <Fragment Id='DIFxAppCustomActions'>
      <InstallExecuteSequence>
          <Custom Action='MsiProcessDrivers'   After='InstallFiles'>VersionNT &gt; 400</Custom>
          <Custom Action='MsiCleanupOnSuccess' After='InstallFinalize'>VersionNT &gt; 400</Custom>
      </InstallExecuteSequence>
      
      <Binary Id='DIFxApp.dll'  SourceFile='$(var.DIFxAppDll)'/>
      <Binary Id='DIFxAppA.dll' SourceFile='$(var.DIFxAppADll)'/>

      <CustomAction Id='MsiProcessDrivers'   BinaryKey='DIFxApp.dll'  DllEntry='ProcessDriverPackages'   SuppressModularization='yes' Execute='immediate' />
      <CustomAction Id='MsiInstallDrivers'   BinaryKey='DIFxAppA.dll' DllEntry='InstallDriverPackages'   SuppressModularization='yes' Execute='deferred' Impersonate='no' />
      <CustomAction Id='MsiUninstallDrivers' BinaryKey='DIFxAppA.dll' DllEntry='UninstallDriverPackages' SuppressModularization='yes' Execute='deferred' Impersonate='no' />
      <CustomAction Id='MsiRollbackInstall'  BinaryKey='DIFxAppA.dll' DllEntry='RollbackInstall'         SuppressModularization='yes' Execute='rollback' Impersonate='no' />
      <CustomAction Id='MsiCleanupOnSuccess' BinaryKey='DIFxApp.dll'  DllEntry='CleanupOnSuccess'        SuppressModularization='yes' Execute='immediate' />
   </Fragment>
</Wix>
