<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="BurnSdkComponents" Directory="SdkFolder">
            <Component>
                <File Source="BootstrapperCore.dll" />
                <File Source="BootstrapperCore.config" />
            </Component>

            <Component>
                <File Source="BootstrapperCore.xml" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
