<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="ExtensionSdk.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="ExtensionSdkComponents" Directory="SdkFolder">
            <Component>
                <File Source="DocCompiler.exe" />
            </Component>
            <Component>
                <File Source="MsgGen.exe" />
            </Component>
            <Component>
                <File Source="XsdGen.exe" />
            </Component>
            <Component>
                <File Source="XsdStitch.exe" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
