<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="ProjectTemplates.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="ProjectTemplates">
          <?ifdef VS2010SdkAvailable ?>
          <ComponentGroupRef Id="ProjectTemplates2010Components" />
          <ComponentGroupRef Id="ProjectTemplates2012Components" />
          <ComponentGroupRef Id="ProjectTemplates2013Components" />
          <ComponentGroupRef Id="ProjectTemplates2015Components" />
          <?endif?>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <!--
            VS2010
        -->
        <PropertyRef Id="VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS2010_IDE_VB_PROJECTSYSTEM_INSTALLED" />

        <ComponentGroup Id="ProjectTemplates2010Components" Directory="VsProjectTemplatesWix2010Folder">
            <Component Transitive="yes">
                <Condition>VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
                <File Id="CustomActionCS_2010.zip" Name="CustomActionCS.zip" Source="templates\CustomActionCS.zip" />
            </Component>
            <Component Transitive="yes">
                <Condition>VS2010_IDE_VB_PROJECTSYSTEM_INSTALLED</Condition>
                <File Id="CustomActionVB_2010.zip" Name="CustomActionVB.zip" Source="templates\CustomActionVB.zip" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <!--
            VS2012
        -->
        <PropertyRef Id="VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS2012_IDE_VB_PROJECTSYSTEM_INSTALLED" />

        <ComponentGroup Id="ProjectTemplates2012Components" Directory="VsProjectTemplatesWix2012Folder">
            <Component Transitive="yes">
                <Condition>VS2012_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
                <File Id="CustomActionCS_2012.zip" Name="CustomActionCS.zip" Source="templates\CustomActionCS.zip" />
            </Component>
            <Component Transitive="yes">
                <Condition>VS2012_IDE_VB_PROJECTSYSTEM_INSTALLED</Condition>
                <File Id="CustomActionVB_2012.zip" Name="CustomActionVB.zip" Source="templates\CustomActionVB.zip" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <!--
            VS2013
        -->
        <PropertyRef Id="VS2013_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS2013_IDE_VB_PROJECTSYSTEM_INSTALLED" />

        <ComponentGroup Id="ProjectTemplates2013Components" Directory="VsProjectTemplatesWix2013Folder">
            <Component Transitive="yes">
                <Condition>VS2013_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
                <File Id="CustomActionCS_2013.zip" Name="CustomActionCS.zip" Source="templates\CustomActionCS.zip" />
            </Component>
            <Component Transitive="yes">
                <Condition>VS2013_IDE_VB_PROJECTSYSTEM_INSTALLED</Condition>
                <File Id="CustomActionVB_2013.zip" Name="CustomActionVB.zip" Source="templates\CustomActionVB.zip" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <!--
            VS2015
        -->
        <PropertyRef Id="VS14_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" />
        <PropertyRef Id="VS14_IDE_VB_PROJECTSYSTEM_INSTALLED" />

        <ComponentGroup Id="ProjectTemplates2015Components" Directory="VsProjectTemplatesWix2015Folder">
            <Component Transitive="yes">
                <Condition>VS14_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
                <File Id="CustomActionCS_2015.zip" Name="CustomActionCS.zip" Source="templates\CustomActionCS.zip" />
            </Component>
            <Component Transitive="yes">
                <Condition>VS14_IDE_VB_PROJECTSYSTEM_INSTALLED</Condition>
                <File Id="CustomActionVB_2015.zip" Name="CustomActionVB.zip" Source="templates\CustomActionVB.zip" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
