// Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information.

#define VER_APP
#define VER_LANG_NEUTRAL
#define VER_ORIGINAL_FILENAME  "wixsetupicons.dll"
#define VER_INTERNAL_NAME      "wixsetupicons"
#define VER_FILE_DESCRIPTION   "WiX Setup Icons"
#include "wix.rc"

// Additional resources here
0     ICON     "help.ico"
