<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->



<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:swid="http://schemas.microsoft.com/wix/TagExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*" Name="!(loc.ShortProduct) v$(var.WixMajorMinor) Core" Language="1033" Manufacturer="!(loc.Company)"
             Version="$(var.WixMsiProductVersion)" UpgradeCode="3618724B-2523-44F9-A908-866AA619504D">
        <Package Compressed="yes" InstallerVersion="200" SummaryCodepage="1252" InstallScope="perMachine" />
        <swid:Tag Regid="!(loc.Regid)" InstallDirectory="INSTALLFOLDER" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." />

        <MediaTemplate CabinetTemplate="core{0}.cab" />

        <Feature Id="Feature_WiX" Title="WiX Toolset" Level="1">
            <Component Id="Licensing" Directory="INSTALLFOLDER">
                <File Source="LICENSE.TXT" />
            </Component>

            <Component Id="ProductRegistration" Directory="INSTALLFOLDER">
                <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows Installer XML\$(var.WixMajorMinor)">
                    <RegistryValue Name="InstallFolder" Value="[INSTALLFOLDER]" Type="string" />
                </RegistryKey>
            </Component>

            <Component Id="ProductFamilyRegistration" Directory="INSTALLFOLDER">
                <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows Installer XML\$(var.WixMajor).x">
                    <RegistryValue Name="v$(var.WixMajorMinor)" Value="[INSTALLFOLDER]" Type="string" />
                </RegistryKey>
            </Component>

            <Component Id="ProductInformation" Directory="BinFolder">
                <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows Installer XML\$(var.WixMajorMinor)">
                    <RegistryValue Name="InstallRoot" Value="[BinFolder]" Type="string"/>
                    <RegistryValue Name="ProductVersion" Value="[ProductVersion]" Type="string" />
                </RegistryKey>

                <RemoveFolder Id="CleanupShortcutFolder" Directory="ShortcutFolder" On="uninstall" />
            </Component>

            <Component Directory="BinFolder">
                <File Source="common\wixtoolset.org.ico" />
                <util:InternetShortcut Id="wixtoolset.org" Directory="ShortcutFolder" Name="WiX Home Page" Target="http://wixtoolset.org/" IconFile="file://[#wixtoolset.org.ico]" />
            </Component>

            <ComponentGroupRef Id="ToolsetComponents" />
            <ComponentGroupRef Id="ExtensionComponents" />
            <ComponentGroupRef Id="LuxComponents" />
            <ComponentGroupRef Id="DocComponents" />
        </Feature>

        <FeatureRef Id="Feature_MSBuild" />
        <FeatureRef Id="Feature_Intellisense2010" />
        <FeatureRef Id="Feature_Intellisense2012" />
        <FeatureRef Id="Feature_Intellisense2013" />
        <FeatureRef Id="Feature_Intellisense2015" />
    </Product>
</Wix>
