<?xml version="1.0" encoding="utf-8"?>
<!--
  <copyright file="MSBuild.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Feature Id="Feature_MSBuild" Title="MSBuild Support" Level="1">
            <ComponentGroupRef Id="MSBuildComponents" />
        </Feature>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="MSBuildComponents" Directory="MSBuildMSWix3xFolder">
            <Component>
                <File Source="wix.targets" />
            </Component>

            <Component>
                <File Source="wix200x.targets" />
            </Component>

            <Component>
                <File Source="wix2010.targets" />
            </Component>

            <Component>
                <File Source="wix.ca.targets" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
