<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Feature Id="Feature_MSBuild" Title="MSBuild Support" Level="1">
            <ComponentGroupRef Id="MSBuildComponents" />
        </Feature>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="MSBuildComponents" Directory="MSBuildMSWix3xFolder">
            <Component>
                <File Source="wix.targets" />
            </Component>

            <Component>
                <File Source="wix.ca.targets" />
            </Component>

            <Component>
                <File Source="wix.nativeca.targets" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
