<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Feature Id="Feature_NAnt" Title="NAnt Support" Level="1">
            <ComponentGroupRef Id="NAntTaskComponents" />
        </Feature>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="NAntTaskComponents" Directory="BinFolder">
            <Component>
                <File Source="Microsoft.Tools.WindowsInstallerXml.NAntTasks.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
