//--------------------------------------------------------------------------------------------------
// <copyright file="uica.rc" company="Outercurve Foundation">
//   Copyright (c) 2004, Outercurve Foundation.
//   This software is released under Microsoft Reciprocal License (MS-RL).
//   The license and further copyright text can be found in the file
//   LICENSE.TXT at the root directory of the distribution.
// </copyright>
// 
// <summary>
// UI CA resource file.
// </summary>
//--------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_LANG_NEUTRAL
#define VER_ORIGINAL_FILENAME "uica.dll"
#define VER_INTERNAL_NAME "uica"
#define VER_FILE_DESCRIPTION "WiX UI Custom Actions"
#include "wix.rc"

// Additional resources here
