[Bb]uild/
[Pp]ackages/
ipch/
.vs/
obj/

*.chw
*.suo
*.user
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.opendb
*.opensdf
*.sdf
*.aps
*.ncb
*.cachefile
*.VC.db
*.VC.VC.opendb
