<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="OfficeAddin.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Condition Message="A later version of [ProductName] is already installed.">NOT NEWERVERSIONDETECTED</Condition>

        <Media Id="1" Cabinet="ctoa.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ApplicationsFolder" Name="Apps">
                <!--Component Id="ThisApplicationVersionRegistryKeyComponent" Guid="{00000000-0000-0000-0000-000000000000}">
                    <CreateFolder />
                    <RemoveFolder Id="RemoveApplicationsFolder" On="uninstall" />

                    <RegistryKey Root="HKCU" Key="Software\WiX\ClickThrough\Applications\[UpgradeCode]" Action="createAndRemoveOnUninstall">
                        <RegistryValue Name="Version" Value="[ProductVersion]" Type="string" KeyPath="yes"/>
                        <RegistryValue Name="UpdateInfoSource" Value="[ARPURLUPDATEINFO]" Type="string"/>
                    </RegistryKey>
                </Component-->

                <!-- Component Id="ThisApplicationExtensibilityDllComponent" Guid="{00000000-0000-0000-0000-000000000000}">
                    <File Id="ThisApplicationExtensibilityDll" Name="Extensibility.dll" KeyPath="yes" Assembly=".net" AssemblyManifest="ThisApplicationExtensibilityDll" AssemblyApplication="ThisApplicationExtensibilityDll" Vital="yes" Source="Extensibility.dll" />
                </Component-->

                <Directory Id="ApplicationsCacheFolder" Name="Cache">
                    <Component Id="ThisApplicationCacheFolderComponent" Guid="{00000000-0000-0000-0000-000000000000}">
                        <CreateFolder />
                        <RemoveFolder Id="RemoveApplicationsCacheFolder" On="uninstall" />

                        <RemoveFile Id="ThisApplicationRemoveCachedMsi" Name="!(wix.ProductCode)v!(wix.ProductVersion).msi" On="uninstall" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="ApplicationFeature" Level="1" Absent="disallow" AllowAdvertise="yes" InstallDefault="local" TypicalDefault="install" Display="expand">
            <!--ComponentRef Id="ThisApplicationExtensibilityDllComponent" /-->
            <!--ComponentRef Id="ThisApplicationVersionRegistryKeyComponent" /-->
            <ComponentRef Id="ThisApplicationCacheFolderComponent" />
        </Feature>

        <!--CustomAction Id="PerMachineDirectory" Property="ApplicationsFolder" Value="[ProgramFilesFolder]" />
        <CustomAction Id="PerUserDirectory" Property="ApplicationsFolder" Value="[LocalAppDataFolder]..\Apps" />
        <CustomAction Id="SetCacheDirectory" Property="ApplicationsCacheFolder" Value="[LocalAppDataFolder]..\Apps\Cache" /-->

        <InstallExecuteSequence>
            <!--Custom Action="PerMachineDirectory" After="CostInitialize">Not Installed AND (ALLUSERS=1 OR (Privileged AND ALLUSERS=2))</Custom>
            <Custom Action="PerUserDirectory" After="CostInitialize">Not Installed AND (Not ALLUSERS OR (Not Privileged AND ALLUSERS=2))</Custom>
            <Custom Action="SetCacheDirectory" After="CostInitialize">Not Installed</Custom-->

            <RemoveExistingProducts After="InstallInitialize" />
        </InstallExecuteSequence>
    </Fragment>
</Wix>
