<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="2008.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->

<?include WixVer.wxi ?>

<!-- Preprocessor definitions -->
<?define VsVersion = "2008"?>
<?define VsRegPath = "SOFTWARE\Microsoft\VisualStudio\9.0" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
      <PropertyRef Id="VS90DEVENV" />
      <PropertyRef Id="VS90_ROOT_FOLDER" />
      <PropertyRef Id="VS90_SCHEMAS_DIR" />

      <ComponentGroup Id="Votive2008Components" Directory="BinFolder">
            <Component>
                <File Source="sconce2008.dll" />
            </Component>

            <Component>
                <File Source="votive2008.dll" />
                <util:RestartResource Path="[VS90DEVENV]" />

                <!-- Add the VS 2008 property page registration component -->
                <?include PropertyPages.wxi ?>
            </Component>

            <ComponentGroupRef Id="Votive2008ItemTemplateComponents" />
            <ComponentGroupRef Id="Votive2008ProjectTemplateComponents" />
        </ComponentGroup>

        <CustomActionRef Id="VS90Setup" />
        <UI>
            <ProgressText Action="VS2008Setup" Template="[1]">Updating Visual Studio 2008 registration</ProgressText>
        </UI>

        <ComponentGroup Id="Votive$(var.VsVersion)ItemTemplateComponents" Directory="VsItemTemplatesWix$(var.VsVersion)Folder">
            <Component>
                <File Id="BlankFile$(var.VsVersion).zip" Source="votive2008\BlankFile.zip" />
            </Component>
            <Component>
                <File Id="IncludeFile$(var.VsVersion).zip" Source="votive2008\IncludeFile.zip" />
            </Component>
            <Component>
                <File Id="LocalizationFile$(var.VsVersion).zip" Source="votive2008\LocalizationFile.zip" />
            </Component>
            <Component>
                <File Id="TextFile$(var.VsVersion).zip" Source="votive2008\TextFile.zip" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Votive$(var.VsVersion)ProjectTemplateComponents" Directory="VsProjectTemplatesWix$(var.VsVersion)Folder">
            <Component>
                <File Id="WixLibrary$(var.VsVersion).zip" Source="votive2008\WixLibrary.zip" />
            </Component>
            <Component>
                <File Id="WixMergeModule$(var.VsVersion).zip" Source="votive2008\WixMergeModule.zip" />
            </Component>
            <Component>
                <File Id="WixBundleProject$(var.VsVersion).zip" Source="votive2008\WixBundleProject.zip" />
            </Component>
            <Component>
                <File Id="WixProject$(var.VsVersion).zip" Source="votive2008\WixProject.zip" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Votive$(var.VsVersion)SchemaComponents" Directory="VS90_SCHEMAS_DIR">
            <Component>
                <File Id="LuxSchema$(var.VsVersion)" Source="lux\wixext\Xsd\lux.xsd" />
            </Component>
            <Component>
                <File Id="ThmutilSchema$(var.VsVersion)" Source="dutil\Xsd\thmutil.xsd" />
            </Component>
            <Component>
                <File Id="WixSchema$(var.VsVersion)" Source="wix\Xsd\wix.xsd" />
            </Component>
            <Component>
                <File Id="WixLocSchema$(var.VsVersion)" Source="wix\Xsd\wixloc.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdBalSchema$(var.VsVersion)" Source="ext\BalExtension\wixext\Xsd\bal.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdDependency$(var.VsVersion)" Source="ext\DependencyExtension\wixext\Xsd\Dependency.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdComplus$(var.VsVersion)" Source="ext\ComPlusExtension\wixext\xsd\complus.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdDifxApp$(var.VsVersion)" Source="ext\DifxAppExtension\wixext\Xsd\difxapp.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdFirewall$(var.VsVersion)" Source="ext\FirewallExtension\wixext\Xsd\firewall.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdGaming$(var.VsVersion)" Source="ext\GamingExtension\wixext\Xsd\gaming.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdIis$(var.VsVersion)" Source="ext\IIsExtension\wixext\xsd\iis.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdMsmq$(var.VsVersion)" Source="ext\MsmqExtension\wixext\xsd\msmq.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdNetFx$(var.VsVersion)" Source="ext\NetFxExtension\wixext\Xsd\netfx.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdPS$(var.VsVersion)" Source="ext\PSExtension\wixext\xsd\ps.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdSql$(var.VsVersion)" Source="ext\SqlExtension\wixext\Xsd\sql.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdTag$(var.VsVersion)" Source="ext\TagExtension\wixext\Xsd\tag.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdUtil$(var.VsVersion)" Source="ext\UtilExtension\wixext\Xsd\util.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdVS$(var.VsVersion)" Source="ext\VSExtension\wixext\xsd\vs.xsd" />
            </Component>
        </ComponentGroup>

    </Fragment>
</Wix>
