<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="2012.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->

<?include WixVer.wxi ?>

<!-- Preprocessor definitions -->
<?define VsVersion = "2012"?>
<?define VsRegPath = "SOFTWARE\Microsoft\VisualStudio\11.0" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <PropertyRef Id="VS2012DEVENV" />
        <PropertyRef Id="VS2012_ROOT_FOLDER" />
        <PropertyRef Id="VS2012_SCHEMAS_DIR" />

        <CustomActionRef Id="VS2012Setup" />
        <UI>
            <ProgressText Action="VS2012Setup" Template="[1]">Updating Visual Studio 2012 registration</ProgressText>
        </UI>

        <ComponentGroup Id="Votive2012Components">
            <ComponentGroupRef Id="Votive2010BinaryComponents"/>
            <ComponentGroupRef Id="Votive2012ExtensionComponents"/>
            <ComponentGroupRef Id="Votive2012ItemTemplateComponents" />
            <ComponentGroupRef Id="Votive2012ProjectTemplateComponents" />
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Votive$(var.VsVersion)ExtensionComponents" Directory="VsExtensions$(var.VsVersion)MicrosoftWix">
            <Component>
                <File Id="extension$(var.VsVersion).vsixmanifest" Source="extension.vsixmanifest"/>
            </Component>

            <Component>
                <File Id="Votive$(var.VsVersion).pkgdef" Source="votive2010.pkgdef"/>
            </Component>

            <Component>
                <File Id="wix$(var.VsVersion).ico" Name="wix.ico" Source="Votive\Icons\ProjectFile.ico"/>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Votive$(var.VsVersion)ItemTemplateComponents" Directory="VsItemTemplatesWix$(var.VsVersion)Folder">
            <Component>
                <File Id="BlankFile$(var.VsVersion).zip" Source="templates\BlankFile.zip" />
            </Component>
            <Component>
                <File Id="IncludeFile$(var.VsVersion).zip" Source="templates\IncludeFile.zip" />
            </Component>
            <Component>
                <File Id="LocalizationFile$(var.VsVersion).zip" Source="templates\LocalizationFile.zip" />
            </Component>
            <Component>
                <File Id="TextFile$(var.VsVersion).zip" Source="templates\TextFile.zip" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Votive$(var.VsVersion)ProjectTemplateComponents" Directory="VsProjectTemplatesWix$(var.VsVersion)Folder">
            <Component>
                <File Id="WixLibrary$(var.VsVersion).zip" Source="templates\WixLibrary.zip" />
            </Component>
            <Component>
                <File Id="WixMergeModule$(var.VsVersion).zip" Source="templates\WixMergeModule.zip" />
            </Component>
            <Component>
                <File Id="WixBundleProject$(var.VsVersion).zip" Source="templates\WixBundleProject.zip" />
            </Component>
            <Component>
                <File Id="WixProject$(var.VsVersion).zip" Source="templates\WixProject.zip" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Votive$(var.VsVersion)SchemaComponents" Directory="VS2012_SCHEMAS_DIR">
            <Component>
                <File Id="LuxSchema$(var.VsVersion)" Source="lux\wixext\Xsd\lux.xsd" />
            </Component>
            <Component>
                <File Id="ThmutilSchema$(var.VsVersion)" Source="dutil\Xsd\thmutil.xsd" />
            </Component>
            <Component>
                <File Id="WixSchema$(var.VsVersion)" Source="wix\Xsd\wix.xsd" />
            </Component>
            <Component>
                <File Id="WixLocSchema$(var.VsVersion)" Source="wix\Xsd\wixloc.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdBalSchema$(var.VsVersion)" Source="ext\BalExtension\wixext\Xsd\bal.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdDependency$(var.VsVersion)" Source="ext\DependencyExtension\wixext\Xsd\Dependency.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdComplus$(var.VsVersion)" Source="ext\ComPlusExtension\wixext\xsd\complus.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdDifxApp$(var.VsVersion)" Source="ext\DifxAppExtension\wixext\Xsd\difxapp.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdFirewall$(var.VsVersion)" Source="ext\FirewallExtension\wixext\Xsd\firewall.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdGaming$(var.VsVersion)" Source="ext\GamingExtension\wixext\Xsd\gaming.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdIis$(var.VsVersion)" Source="ext\IIsExtension\wixext\xsd\iis.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdMsmq$(var.VsVersion)" Source="ext\MsmqExtension\wixext\xsd\msmq.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdNetFx$(var.VsVersion)" Source="ext\NetFxExtension\wixext\Xsd\netfx.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdPS$(var.VsVersion)" Source="ext\PSExtension\wixext\xsd\ps.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdSql$(var.VsVersion)" Source="ext\SqlExtension\wixext\Xsd\sql.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdTag$(var.VsVersion)" Source="ext\TagExtension\wixext\Xsd\tag.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdUtil$(var.VsVersion)" Source="ext\UtilExtension\wixext\Xsd\util.xsd" />
            </Component>
            <Component>
                <File Id="ExtensionXsdVS$(var.VsVersion)" Source="ext\VSExtension\wixext\xsd\vs.xsd" />
            </Component>
        </ComponentGroup>

    </Fragment>
</Wix>
