<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->



<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!-- Referenced by project registration. -->
        <DirectoryRef Id="MSBuildMSWix3xFolder" />

        <PropertyRef Id="LATEST_DEVENV_EXE_COMMAND" />

        <ComponentGroup Id="FileAssociationComponents" Directory="BinFolder">
            <!--
                File extension registration

                Note that we're keeping the versioned progid the same
                The properties are used here so that if a user installs Votive
                on a system with multiple versions of VS installed, the file
                associations will be directed to the latest version of VS.
            -->
            <Component>
                <!-- Icons to use for WiX file types -->
                <File Source="Votive\Icons\ProjectFile.ico" />

                <ProgId Id="WindowsInstallerXml.wixprojfile.3.10" Description="WiX Project File" Icon="ProjectFile.ico">
                    <Extension Id="wixproj" ContentType="text/plain">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component>
                <File Source="Votive\Icons\ProductFile.ico" />

                <ProgId Id="WindowsInstallerXml.wxsfile.3.10" Description="WiX Source File" Icon="ProductFile.ico">
                    <Extension Id="wxs" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component>
                <File Source="Votive\Icons\IncludeFile.ico" />

                <ProgId Id="WindowsInstallerXml.wxifile.3.10" Description="WiX Include File" Icon="IncludeFile.ico">
                    <Extension Id="wxi" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component>
                <File Source="Votive\Icons\LocalizationFile.ico" />

                <ProgId Id="WindowsInstallerXml.wxlfile.3.10" Description="WiX Localization File" Icon="LocalizationFile.ico">
                    <Extension Id="wxl" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component>
                <File Source="Votive\Icons\WixLibraryFile.ico" />

                <ProgId Id="WindowsInstallerXml.wixlibfile.3.10" Description="WiX Library File" Icon="WixLibraryFile.ico">
                    <Extension Id="wixlib" ContentType="text/xml" />
                </ProgId>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
