<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="$wixsafeprojectname$" Language="1033" Version="1.0.0.0" Manufacturer="$registeredorganization$" UpgradeCode="$guid3$">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="$wixsafeprojectname$" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$wixsafeprojectname$" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- $loc_WXS_TODO1$ -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- $loc_WXS_TODO2$ -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>