<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="DirectXExtension.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include caerr.wxi ?>
    
    <!-- DirectX Custom Action DLL Definitions -->
    <Fragment>
        <Binary Id="WixDirectXCA" SourceFile="$(var.directxcaDll)" />
    </Fragment>
    
    <Fragment>
        <CustomAction Id="WixQueryDirectXCaps" BinaryKey="WixDirectXCA" DllEntry="WixQueryDirectXCaps" Return="ignore" />
        
        <InstallUISequence>
            <Custom Action="WixQueryDirectXCaps" Before="LaunchConditions" Overridable="yes">VersionNT &gt; 400</Custom>
        </InstallUISequence>

        <InstallExecuteSequence>
            <Custom Action="WixQueryDirectXCaps" Before="LaunchConditions" Overridable="yes">VersionNT &gt; 400</Custom>
        </InstallExecuteSequence>
    </Fragment>
    
    <Fragment>
        <Property Id="WIX_DIRECTX_VERTEXSHADERVERSION" Secure="yes" Value="NotSet" />
        <CustomActionRef Id="WixQueryDirectXCaps" />
    </Fragment>
    
    <Fragment>
        <Property Id="WIX_DIRECTX_PIXELSHADERVERSION" Secure="yes" Value="NotSet" />
        <CustomActionRef Id="WixQueryDirectXCaps" />
    </Fragment>
</Wix>
