<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="VS15.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Property Id="VS15_EXTENSIONS_DIR" Secure="yes">
            <RegistrySearch Id="VS15DevEnvForExtensionsSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
                <DirectorySearch Id="VS15ExtensionsPathSearch" Path="Extensions" Depth="1" />
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS15_PROJECTTEMPLATES_DIR" Secure="yes">
            <RegistrySearch Id="VS15DevEnvForProjectTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
                <DirectorySearch Id="VS15ProjectTemplatesPathSearch" Path="ProjectTemplates" Depth="1" />
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS15_SCHEMAS_DIR" Secure="yes">
            <RegistrySearch Id="VS15ProductPathSearch" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="15.0" Type="raw">
                <DirectorySearch Id="VS15XmlPathSearch" Path="Xml" Depth="1">
                    <DirectorySearch Id="VS15XmlSchemasPathSearch" Path="Schemas" Depth="1" />
                </DirectorySearch>
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS15_ITEMTEMPLATES_DIR" Secure="yes">
            <RegistrySearch Id="VS15DevEnvForItemTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
                <DirectorySearch Id="VS15ItemTemplatesPathSearch" Path="ItemTemplates" Depth="1" />
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS15_BOOTSTRAPPER_PACKAGE_FOLDER" Secure="yes">
            <RegistrySearch Id="SearchForVS15BootstrapperPackageFolder" Root="HKLM" Key="Software\Microsoft\GenericBootstrapper\4.0" Name="Path" Type="raw" />
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS15_ROOT_FOLDER" Secure="yes">
            <RegistrySearch Id="SearchForVS15RootPath" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="15.0" Type="raw" />
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS15DEVENV" Secure="yes">
            <RegistrySearch Id="VS15DevEnvSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
        </Property>
    </Fragment>

    <Fragment>
        <CustomAction Id="VS15Setup" Property="VS15DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS15DEVENV" />

        <InstallExecuteSequence>
            <Custom Action="VS15Setup" Before="InstallFinalize" Overridable="yes">VS15DEVENV</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <Fragment>
        <CustomAction Id="VS15InstallVSTemplates" Property="VS15DEVENV" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS15DEVENV" />

        <InstallExecuteSequence>
            <Custom Action="VS15InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VS15DEVENV</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual C# project system is installed as a part of  -->
    <!-- Visual Studio 15 standard or higher. If this property is set, that      -->
    <!-- means Visual Studio 15 standard or higher is installed and the Visual   -->
    <!-- C# language tools were installed as a part of VS 15 setup.              -->
    <Fragment>
        <Property Id="VS15_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVCS15ProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VC#" Name="ProductDir" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Basic project system is installed as a part of -->
    <!-- Visual Studio 15 standard or higher. If this property is set, that        -->
    <!-- means Visual Studio 15 standard or higher is installed and the Visual     -->
    <!-- Basic language tools were installed as a part of VS 15 setup.             -->
    <Fragment>
        <Property Id="VS15_IDE_VB_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVB15ProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VB" Name="ProductDir" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Web Developer 15 Express IDE component is installed.  -->
    <!-- If this property is set, that means Visual Web Developer 15 Express Edition is     -->
    <!-- installed on the system.                                                             -->
    <Fragment>
        <Property Id="VWD15EXPRESS_IDE" Secure="yes">
            <RegistrySearch Id="VWD15ExpressSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VWDExpress\15.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
        </Property>
    </Fragment>
    <!-- Custom action definition to run vwdexpress.exe /setup                               -->
    <Fragment>
        <CustomAction Id="VWD15Setup" Property="VWD15EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VWD15EXPRESS_IDE" />
        <InstallExecuteSequence>
            <Custom Action="VWD15Setup" Before="InstallFinalize" Overridable="yes">VWD15EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>
    <!-- Custom action definition to run vwdexpress.exe /InstallVSTemplates                  -->
    <Fragment>
        <CustomAction Id="VWD15InstallVSTemplates" Property="VWD15EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VWD15EXPRESS_IDE" />
        <InstallExecuteSequence>
            <Custom Action="VWD15InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VWD15EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual Web Developer project system is installed as a part of -->
    <!-- Visual Studio 15 standard or higher. If this property is set, that                -->
    <!-- means Visual Studio 15 standard or higher is installed and the Visual             -->
    <!-- Web Developer language tools were installed as a part of VS 15 setup.             -->
    <Fragment>
        <Property Id="VS15_IDE_VWD_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <ComponentSearch Id="SearchForVWD15ProjectSystemUnderVSSetup" Guid="1DD6505F-9FB3-5690-98FA-735BB51A6631" />
            <ComponentSearch Id="SearchForVWD15ProjectSystemUnderVWDSetup" Guid="3447C110-9E65-5206-B39E-F8847D1DEA9A" Type="directory" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual C++ project system is installed as a part of -->
    <!-- Visual Studio 15 standard or higher. If this property is set, that      -->
    <!-- means Visual Studio 15 standard or higher is installed and the Visual   -->
    <!-- C++ language tools were installed as a part of VS 15 setup.             -->
    <Fragment>
        <Property Id="VS15_IDE_VC_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVC15ProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VC" Name="ProductDir" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Studio 15 Team Test project system is installed -->
    <Fragment>
        <Property Id="VS15_IDE_VSTS_TESTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVSTS15TestSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Projects\{3AC096D0-A1C2-E12C-1390-A8335801FDAB}" Name="Package" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Studio Modeling project system is installed -->
    <Fragment>
        <Property Id="VS15_IDE_MODELING_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVSTS15ModelingSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Projects\{f088123c-0e9e-452a-89e6-6ba2f21d5cac}" Name="Package" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Studio F# project system is installed -->
    <Fragment>
        <Property Id="VS15_IDE_FSHARP_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVSTS15FSharpSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\F#" Name="ProductDir" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Studio Express for Windows IDE component is installed. -->
    <!-- If this property is set, that means Visual Studio Express for Windows is installed  -->
    <!-- on the system.                                                                      -->
    <Fragment>
        <Property Id="VS15WINEXPRESS_IDE" Secure="yes">
            <RegistrySearch Id="VS15WinExpressSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VSWinExpress\15.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
        </Property>
    </Fragment>
    <!-- Custom action definition to run vswinexpress.exe /setup                             -->
    <Fragment>
        <CustomAction Id="VS15WinExpressSetup" Property="VS15WINEXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS15WINEXPRESS_IDE" />
        <InstallExecuteSequence>
            <Custom Action="VS15WinExpressSetup" Before="InstallFinalize" Overridable="yes">VS15WINEXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>
    <!-- Custom action definition to run vswinexpress.exe /InstallVSTemplates                -->
    <Fragment>
        <CustomAction Id="VS15WinExpressInstallVSTemplates" Property="VS15WINEXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS15WINEXPRESS_IDE" />
        <InstallExecuteSequence>
            <Custom Action="VS15WinExpressInstallVSTemplates" Before="InstallFinalize" Overridable="yes">VS15WINEXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>
</Wix>
