<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="VsixPackage.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Property Id="VS2010_VSIX_INSTALLER_PATH" Secure="yes">
            <RegistrySearch Id="WixVS2010EnvDir" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="directory">
                <FileSearch Id="WixVS2010VsixInstaller" Name="VSIXInstaller.exe" />
            </RegistrySearch>
        </Property>

        <Property Id="VS2012_VSIX_INSTALLER_PATH" Secure="yes">
            <RegistrySearch Id="WixVS2012EnvDir" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS" Name="EnvironmentDirectory" Type="directory">
                <FileSearch Id="WixVS2012VsixInstaller" Name="VSIXInstaller.exe" />
            </RegistrySearch>
        </Property>

        <Property Id="VS2013_VSIX_INSTALLER_PATH" Secure="yes">
            <RegistrySearch Id="WixVS2013EnvDir" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0\Setup\VS" Name="EnvironmentDirectory" Type="directory">
                <FileSearch Id="WixVS2013VsixInstaller" Name="VSIXInstaller.exe" />
            </RegistrySearch>
        </Property>
        
        <!-- VS2014 is the latest VSIX at this point in time, so search for that by default. -->
        <Property Id="VS_VSIX_INSTALLER_PATH" Secure="yes">
            <RegistrySearch Id="WixVS2014EnvDir" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentDirectory" Type="directory">
                <FileSearch Id="WixVS2014VsixInstaller" Name="VSIXInstaller.exe" />
            </RegistrySearch>
        </Property>

        <!-- VWD2012 registers differently than the rest of Visual Studio, so search for it in the case VS2012 is missing. -->
        <Property Id="VWD2012_VSIX_INSTALL_ROOT">
            <RegistrySearch Id="Vwd2012Search" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS" Name="ProductDir" Type="raw" />
        </Property>

        <!-- VWD2013 registers differently than the rest of Visual Studio, so search for it in the case VS2013 is missing. -->
        <Property Id="VWD2013_VSIX_INSTALL_ROOT">
            <RegistrySearch Id="Vwd2013Search" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0\Setup\VS" Name="ProductDir" Type="raw" />
        </Property>
        
        <!-- VWD2014 registers differently than the rest of Visual Studio, so search for it in the case VS2014 is missing. -->
        <Property Id="VWD2014_VSIX_INSTALL_ROOT">
            <RegistrySearch Id="Vwd2014Search" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="ProductDir" Type="raw" />
        </Property>

        <!-- If we didn't find VSIX in the latest Visual Studio or VWD, use an older version. -->
        <SetProperty Action="SetVS2010Vsix" Id="VS_VSIX_INSTALLER_PATH" Value="[VS2010_VSIX_INSTALLER_PATH]" Sequence="both" After="AppSearch">NOT VS_VSIX_INSTALLER_PATH AND NOT VS2012_VSIX_INSTALLER_PATH</SetProperty>
        <SetProperty Action="SetVS2012Vsix" Id="VS_VSIX_INSTALLER_PATH" Value="[VS2012_VSIX_INSTALLER_PATH]" Sequence="both" After="AppSearch">NOT VS_VSIX_INSTALLER_PATH AND VS2012_VSIX_INSTALLER_PATH</SetProperty>
        <SetProperty Action="SetVS2013Vsix" Id="VS_VSIX_INSTALLER_PATH" Value="[VS2013_VSIX_INSTALLER_PATH]" Sequence="both" After="AppSearch">NOT VS_VSIX_INSTALLER_PATH AND VS2013_VSIX_INSTALLER_PATH</SetProperty>

        <!-- If we didn't find the latest Visual Studio but VWD is present, use VWD's VSIX. -->
        <SetProperty Action="Vwd2012VsixWhenVSAbsent" Id="VS_VSIX_INSTALLER_PATH" After="SetVS2012Vsix" Value="[VWD2012_VSIX_INSTALLER_ROOT]\Common7\IDE\VSIXInstaller.exe" Sequence="both">NOT VS_VSIX_INSTALLER_PATH AND VWD2012_VSIX_INSTALLER_ROOT AND NOT VWD2013_VSIX_INSTALLER_ROOT</SetProperty>
        <SetProperty Action="Vwd2013VsixWhenVSAbsent" Id="VS_VSIX_INSTALLER_PATH" After="SetVS2012Vsix" Value="[VWD2013_VSIX_INSTALLER_ROOT]\Common7\IDE\VSIXInstaller.exe" Sequence="both">NOT VS_VSIX_INSTALLER_PATH AND VWD2013_VSIX_INSTALLER_ROOT</SetProperty>
        <SetProperty Action="Vwd2014VsixWhenVSAbsent" Id="VS_VSIX_INSTALLER_PATH" After="SetVS2013Vsix" Value="[VWD2014_VSIX_INSTALLER_ROOT]\Common7\IDE\VSIXInstaller.exe" Sequence="both">NOT VS_VSIX_INSTALLER_PATH AND VWD2014_VSIX_INSTALLER_ROOT</SetProperty>
    </Fragment>
</Wix>