// Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information.

#define VER_DLL
#define VER_LANG_NEUTRAL
#define VER_ORIGINAL_FILENAME  "wix.dll"
#define VER_INTERNAL_NAME      "wix.dll"
#define VER_FILE_DESCRIPTION   "Windows Installer XML"
#include "wix.rc"
