// Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information.

#define VER_APP
#define VER_LANG_NEUTRAL
#define VER_ORIGINAL_FILENAME "vsca.dll"
#define VER_INTERNAL_NAME "vsca"
#define VER_FILE_DESCRIPTION "WiX VS Custom Actions"
#include "wix.rc"

// Additional resources here
