<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="$wixsafeprojectname$" Language="1033" Version="1.0.0.0">
		<Package Id="$guid2$" Manufacturer="$registeredorganization$" InstallerVersion="200" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

				<!-- $loc_WXS_TODO1$ -->
				<!-- <Component Id="ModuleComponent" Guid="$guid3$"> -->
					<!-- $loc_WXS_TODO2$ -->
				<!-- </Component> -->

			</Directory>
		</Directory>
	</Module>
</Wix>
