//-------------------------------------------------------------------------------------------------
// <copyright file="stub.rc" company="Outercurve Foundation">
//   Copyright (c) 2004, Outercurve Foundation.
//   This software is released under Microsoft Reciprocal License (MS-RL).
//   The license and further copyright text can be found in the file
//   LICENSE.TXT at the root directory of the distribution.
// </copyright>
//
// <summary>
// Burn stub resource file.
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "setup.exe"
#define VER_INTERNAL_NAME "setup"
#define VER_FILE_DESCRIPTION "WiX Toolset Bootstrapper"
#include "wix.rc"

1 ICON "stub.ico"

//#define MANIFEST_RESOURCE_ID 1
#ifndef ARM // the ARM manifest is automatically injected but other platforms need it done manually.
//MANIFEST_RESOURCE_ID RT_MANIFEST "stub.manifest"
#endif
