//-------------------------------------------------------------------------------------------------
// <copyright file="lit.rc" company="Outercurve Foundation">
//   Copyright (c) 2004, Outercurve Foundation.
//   This software is released under Microsoft Reciprocal License (MS-RL).
//   The license and further copyright text can be found in the file
//   LICENSE.TXT at the root directory of the distribution.
// </copyright>
//
// <summary>
// lit.exe resource file.
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "lit.exe"
#define VER_INTERNAL_NAME "lit"
#define VER_FILE_DESCRIPTION "WiX Toolset Compiler"
#include "wix.rc"

#define MANIFEST_RESOURCE_ID 1
MANIFEST_RESOURCE_ID RT_MANIFEST "lit.exe.manifest"
