//-------------------------------------------------------------------------------------------------
// <copyright file="BurnUnitTest.rc" company="Outercurve Foundation">
//   Copyright (c) 2004, Outercurve Foundation.
//   This software is released under Microsoft Reciprocal License (MS-RL).
//   The license and further copyright text can be found in the file
//   LICENSE.TXT at the root directory of the distribution.
// </copyright>
//
// <summary>
//
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "BurnUnitTest.dll"
#define VER_INTERNAL_NAME "setup"
#define VER_FILE_DESCRIPTION "WiX Toolset Bootstrapper unit tests"
#include "wix.rc"
