<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="X64Msi.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:swid="http://schemas.microsoft.com/wix/TagExtension">
    <Product Id="*" Name="!(loc.ShortProduct) v$(var.WixMajorMinor) X64" Language="1033" Manufacturer="!(loc.Company)"
             Version="$(var.WixMsiProductVersion)" UpgradeCode="4BF424CC-D118-4018-B49D-CC1A26968834">
        <Package Compressed="yes" InstallerVersion="200" SummaryCodepage="1252" InstallScope="perMachine" />
        <swid:Tag Regid="!(loc.Regid)" InstallDirectory="INSTALLFOLDER" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." />

        <MediaTemplate CabinetTemplate="wix64{0}.cab" />

        <DirectoryRef Id="SdkFolder" />

        <Feature Id="Feature_WiX" Title="WiX Toolset" Level="1">
            <Component Directory="ProgramFiles64Folder">
                <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\WiX $(var.WixMajorMinor)">
                    <RegistryValue Type="string" Value="[SdkFolder]" />
                </RegistryKey>
            </Component>
        </Feature>
    </Product>
</Wix>
