<?xml version='1.0' encoding='utf-8'?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->



<?include WixVer.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:bal='http://schemas.microsoft.com/wix/BalExtension'
     xmlns:swid="http://schemas.microsoft.com/wix/TagExtension"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>

    <Bundle Name='!(loc.ShortProduct) v$(var.WixVersion)' Manufacturer='!(loc.Company)'
            Version='$(var.WixVersion)' UpgradeCode='65E893AD-EDD5-4E7D-80CA-F0F50F383532'
            IconSourceFile='ProjectFile.ico' SplashScreenSourceFile='SplashScreen.bmp'
            AboutUrl='!(loc.SupportUrl)' UpdateUrl='!(loc.UpdateUrl)'
            Compressed='$(var.WixBundleCompressed)'>

        <swid:Tag Regid="!(loc.Regid)" InstallPath="[ProgramFilesFolder]WiX Toolset v$(var.WixMajorMinor)" />
        <Update Location='!(loc.UpdateUrl)' />

        <BootstrapperApplicationRef Id='ManagedBootstrapperApplicationHost' bal:UseUILanguages='yes'>
          <Payload Name='BootstrapperCore.config' SourceFile='WixBA.BootstrapperCore.config' />

          <Payload SourceFile='WixBA.dll' />
          <Payload SourceFile='..\..\..\License.txt' />
        </BootstrapperApplicationRef>

        <Chain>
            <PackageGroupRef Id='NetFx462Redist' />
            <PackageGroupRef Id='WixPackages' />
        </Chain>
    </Bundle>
</Wix>
