<?xml version='1.0' encoding='utf-8'?>
<!--
  <copyright file="PackageGroups.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->

<?include WixVer.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:bal='http://schemas.microsoft.com/wix/BalExtension'
     xmlns:swid="http://schemas.microsoft.com/wix/TagExtension"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>

    <Fragment>
        <Variable Name='InstallFolder' Type='string' Value='[ProgramFilesFolder]WiX Toolset v$(var.WixMajorMinor)' />
        <util:RegistrySearch Id="PreviousInstallFolderSearch" Root='HKLM' Key='SOFTWARE\Microsoft\Windows Installer XML\$(var.WixMajorMinor)' Value='InstallFolder' Variable='PreviousInstallFolder' />
        <util:DirectorySearch Path='[PreviousInstallFolder]' Variable='InstallFolder' After='PreviousInstallFolderSearch' Condition='PreviousInstallFolder' />

        <util:RegistrySearch Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\10.0' Value='InstallDir' Variable='VS2010InstallFolder' />
        <util:RegistrySearch Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\11.0' Value='InstallDir' Variable='VS2012InstallFolder' />
        <util:RegistrySearch Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\12.0' Value='InstallDir' Variable='VS2013InstallFolder' />
        <util:RegistrySearch Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\14.0' Value='InstallDir' Variable='VS2015InstallFolder' />

        <util:ComponentSearch Guid="{B455E8D3-90CB-47F6-AB7B-9B31E5DE6266}" Variable="VS2010VCExpressInstalled" />
        <util:ComponentSearch Guid="{55C6B9D6-A824-4AFC-8D08-20E581B6F42C}" Variable="VS2012WDExpressInstalled" />
        <util:ComponentSearch Guid="{6C65247B-900C-45AD-8ED8-3F20E668348E}" Variable="VS2013WDExpressInstalled" />

        <PackageGroup Id='WixPackages'>
            <MsiPackage Name='data\core.msi' SourceFile='data\'>
                <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
            </MsiPackage>

            <MsiPackage Name='data\wix64.msi' SourceFile='data\'
                        InstallCondition='VersionNT64' />

            <MsiPackage Name='data\msdk.msi' SourceFile='data\'>
                <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
            </MsiPackage>

            <?ifdef VS2010Available ?>
            <MsiPackage Name='data\nsdk2010.msi' SourceFile='data\'
                        InstallCondition='VS2010InstallFolder OR VS2010VCExpressInstalled'>
                <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
            </MsiPackage>
            <?endif?>

            <?ifdef VS2012Available ?>
            <MsiPackage Name='data\nsdk2012.msi' SourceFile='data\'
                        InstallCondition='VS2012InstallFolder OR VS2012WDExpressInstalled'>
                <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
            </MsiPackage>
            <?endif?>

            <?ifdef VS2013Available ?>
            <MsiPackage Name='data\nsdk2013.msi' SourceFile='data\'
                        InstallCondition='VS2013InstallFolder OR VS2013WDExpressInstalled'>
                <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
            </MsiPackage>
            <?endif?>

            <?ifdef VS2015Available ?>
            <MsiPackage Name='data\nsdk2015.msi' SourceFile='data\'
                        InstallCondition='VS2015InstallFolder'>
                <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
            </MsiPackage>
            <?endif?>

            <!-- Votive needs to be last as it runs devenv /setup -->
            <MsiPackage Name='data\votive.msi' SourceFile='data\'
                        InstallCondition='VS2010InstallFolder OR VS2012InstallFolder OR VS2013InstallFolder OR VS2015InstallFolder'>
                <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
            </MsiPackage>
        </PackageGroup>
    </Fragment>
</Wix>