<?xml version="1.0" encoding="utf-8"?>
<!--
  <copyright file="NetFxExtension.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--
        .NET Framework installation state properties
    -->

  <!-- Location of .NET Framework redistributable install root directory -->
  <Fragment>
    <Property Id="NETFRAMEWORKINSTALLROOTDIR" Secure="yes">
      <RegistrySearch Id="NetFxInstallRootSearch" Type="raw" Root="HKLM" Key="Software\Microsoft\.NETFramework" Name="InstallRoot" />
    </Property>
  </Fragment>

  <!-- location of the Windows SDK current active version installation root -->
  <Fragment>
    <Property Id="WINDOWSSDKCURRENTVERSIONDIR" Secure="yes">
      <RegistrySearch Id="WindowsSdkCurrentVersionDir" Root="HKLM" Key="Software\Microsoft\Microsoft SDKs\Windows" Name="CurrentInstallFolder" Type="raw" />
    </Property>
  </Fragment>

  <!-- The Windows SDK current active version -->
  <Fragment>
    <Property Id="WINDOWSSDKCURRENTVERSION" Secure="yes">
      <RegistrySearch Id="WindowsSdkCurrentVersion" Root="HKLM" Key="Software\Microsoft\Microsoft SDKs\Windows" Name="CurrentVersion" Type="raw" />
    </Property>
  </Fragment>

</Wix>
